@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

#container h1{
 font-family: 'Festive', cursive;
 color: rgb(245, 195, 203);
}

#container  a{
  color: rgb(216, 189, 216);
}