<form class="container" (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
  <div class="row">
    <div class="col form-group">
        <label for="Author" class="text-white"><b>Author</b></label>
        <input type="text"  id="author" class="form-control bg-dark tx" placeholder="Author's name" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
        <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
            <p>Author's Name is required</p>
        </div>
    </div>
    <br><br>
        
    <div class="col form-group">
        <label for="Writer" class="text-white"><b>Writer</b></label>
        <input type="text" id="writer" class="form-control bg-dark tx" placeholder="writer's name" [(ngModel)]="newQuote.submitter" name="submitter" #submitter="ngModel" required>
        <div [hidden]="writer.valid || writer.pristine" class="alert alert-danger">
            <p>Writer's Name is required</p>
        </div>
    </div>
  </div>
</form>