<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <div class="container-fluid" id="container">
    <a class="navbar-brand">
      <h1>GitHubSearch</h1>
    </a>
    <div class=" collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-link active" routerlink="">Home</a>
        <a class="nav-link" routerLink= "Repositories">Repositories</a>
      </div>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-md mb-4">
    <form class="form-inline md-form form-sm mt-10">
      <div class="form-group">
        <input name="value" id="search" class="form-control form-control-sm ml-3 w-20" type="search" placeholder="Search">
      </div>
    </form>
  </div>
</div>
