<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <div class="container-fluid" id="container">
    <a class="navbar-brand">
      <h1>GitHubSearch</h1>
    </a>
    <div class=" collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-link active" routerlink="">Home</a>
        <a class="nav-link" routerLink= "Repositories">Repositories</a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid" id="container">
  <div class="row">
    <div class="col-md-6">
      <div class="logo">
        <img src="/src/assets/git.png" alt="" class="img">
      </div>
      <app-search (valueEmitter)="findUser($event)"></app-search>
    </div>
  </div>
</div>