<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
  </div>
  <br><br>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" id="author" class="form-control" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
  </div>
  <br><br>
  <div class="form-group">
    <label for="quote">Quote</label>
    <textarea id="quote" class="form-control" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required></textarea>
  </div>
  <br><br>
  <button>Add Quote</button>
</form>
