<div class="quote">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div>
          <app-add-quote (addQuote)="newQuote($event)"></app-add-quote>>
        </div>
      </div>
      <div class="row col-md-6">
        <div *ngFor='let quote of quotes;let delete =index' class="mb-4 d-flex align-items-stretch">
          <div class="card" style="width: 40rem;">
            <div class="card-body">
              <h3 class="card-title">{{quote.author}}</h3>
              <h4 class="card-subtitle mb-2">{{quote.title}}</h4>
              <p class="card-text">{{quote.quote}}</p> 
              <span class="row">Submited By:<p>{{quote.submitedBy}}</p></span>
              <span class="rows">
                <a class="pr-5">
                  <i (click)='upVote(quote)' class="far fa-thumbs-up"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
