<div class="quote">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div>
          <app-add-quote (addQuote)="newQuote($event)"></app-add-quote>>
        </div>
      </div>
      <div class="row col-md-6">
        <div *ngFor='let quote of quotes;let delete =index' class="mb-4 d-flex align-items-stretch">
          <div class="card" style="width: 40rem;">
            <div class="card-body">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
