#results {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 8px;
  background: transparent;
  color: black;
}

::placeholder {
  color: rgb(51, 51, 235);
  font-weight: bolder;
}