/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
    background: url(../src/assets/bg.jpg)center/cover fixed no-repeat;
}
.form-group{
  text-align: center;
  color: white;
  margin: 2px;
  width: 70%;
  padding-left: 15%;
  padding-right: 15% ;
  
}

