<h1>{{title}}</h1>
<h2>Add Quote</h2>
  <div class="col-sm-6">
    
    <form #userform="ngForm" (ngSubmit)="onSubmit(userForm.value)">
        
        <label>Your Name</label>
        <input type="text" ngModel class="form-control">
        <br><br>

        <label></label>
        <input type="text" ngModel class="form-control">
        <br><br>

        <label >Quote</label>
        <textarea name="" id="" cols="30" rows="10" ngModel class="form-control">Quote</textarea>
        <br><br>

        <label>Author</label>
        <input type="text" ngModel class="form-control">
        <br><br>

        <button type="submit" class="btn btn-primary">Add Quote</button>

    </form>
    
  </div>


