<h1>{{title}}</h1>
<h2>Add Quote</h2>
<div class="container">
  <div class="row">
    <div class="mx-auto">
      <form class="quote-form">
        
        <input type="text" placeholder="Name">
        <br><br>

        <input type="text" placeholder="Title">
        <br><br>

        <textarea name="" id="" cols="30" rows="10">Quote</textarea>
        <br><br>

        <input type="text" placeholder="Author">
        <br><br>

        <button>Add Quote</button>
        
      </form>
    </div>
  </div>
</div>

