<form #form = ngForm (ngSubmit)=submitQuote(form.value)>
  <div class="container">  
      <div class="form-group">
        <label for="name" class="text-white">Name</label>
        <input type="text" id="name" class="form-control  bg-dark tx" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
      </div>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        <p>This field is required</p>
      </div>
      <br><br>
      <div class="form-group">
        <label for="author" class="text-white">Author</label>
        <input type="text" id="author" class="form-control  bg-dark tx" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
      </div>
  
      <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
        <p>This field is required</p>
      </div>

      <br><br>

      <div class="form-group">
        <label for="quote" class="text-white">Quote</label>
        <textarea id="quote" class="form-control  bg-dark tx" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required></textarea>
      </div>

      <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
        <p>This field is required</p>
      </div>

      <br><br>

      <button class="btn" type="submit">Add Quote</button>
  </div>
</form>
  
<br><br>

<h2 class="text-center text-white"><b>Shared quotes</b></h2>
<div class="container mr-10">
  <table class = "table table-sm table-dark">
    <thead>
      <tr>
        <th scope="col" class="text-white-50">
        
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <div *ngFor= 'let quote of quotes;let i = index'>
         
          <td id="{{i}}"> {{ quote.quote}} {{ quote.date|date }}</td>
          <td class="blockquote-footer float-right">
            author <br> <cite title="Author"> {{ quote.author }} </cite>
          </td>
          <td>
            name <br> <cite title="name"> {{ quote.name }} </cite>
          </td>

          <button (click)= 'quoteDelete($event,i)' class="btn btn-outline-danger m-2">Delete quote</button>

          <div>
          
            <button (click)="likeButtonClick()" [ngClass]="chooseclassl ? 'like-button' : 'liked'"> Like | {{numberOfLikes}} </button>
            <button (click)="dislikeButtonClick()" [ngClass]="chooseclassd ? 'dislike-button' : 'disliked'"> Dislike | {{numberOfDislike}} </button>

          </div>

                                    
        </div>

    </tr>
  </table>  
</div>