#result {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 8px;
  background: transparent;
  color: white;
}

::placeholder {
  color: white;
  font-weight: bolder;
}