<form #form = ngForm (ngSubmit)=submitQuote(form.value)>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
  </div>
  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
    <p>This field is required</p>
  </div>
  <br><br>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" id="author" class="form-control" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
  </div>
  
  <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
    <p>This field is required</p>
  </div>

  <br><br>

  <div class="form-group">
    <label for="quote">Quote</label>
    <textarea id="quote" class="form-control" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required></textarea>
  </div>

  <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
    <p>This field is required</p>
  </div>

  <br><br>

  <button type="submit">Add Quote</button>

</form>

<br><br>

<tr>
  <div *ngFor= 'let quote of quotes;let i = index'>
         
      <td id="{{i}}"> {{ quote.quote}} {{ quote.date|date }}</td>
      <td class="blockquote-footer float-right">
          uthor <br> <cite title="Author"> {{ quote.author }} </cite>
      </td>
      <td class="blockquote-footer float-left">
          name <br> <cite title="name"> {{ quote.name }} </cite>
      </td>
       
      
      <!-- <button (click)='toggleDetails(i)' class="btn btn-outline-light m-2">Quote Details</button>

      <div *ngIf='quote.showDescription'>
          <app-quote *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
      </div> -->
      
                                   
  </div>

</tr>
